[SETTINGS]
scrolldelay=600000000
animspeed=20000000
iconpath=~/.icons:~/Pictures:/usr/local/share/icons:/usr/share/icons
hilitecolor=#e2e0da
selmenutextcolor=Gray100
scrollspeed=80000000
tipforecolor=Black
bordercolor=Black
shadowcolor=#8e8b86
wheellines=10
scrollbarsize=15
tipbackcolor=#ffffe1
displaygamma=1
tippause=800000000
normalfont=FreeSans [GNU ],160,normal,regular
menupause=400000000
forecolor=Black
blinkspeed=500000000
basecolor=#d4d0c8
selbackcolor=#0a246a
dragdelta=6
maxcolors=125
backcolor=Gray100
clickspeed=400000000
tiptime=2000000000
selforecolor=Gray100
typingspeed=1000000000
selmenubackcolor=#0a246a

